# Run ID Workaround Stuff

Here we count the runs in each musgraves level_1 mth5 and check the names, so we can be prepared for expanding the workaround

Will use the "enrich_df" pattern where we iterate over rows of df, getting info.

In [3]:
from aurora.pipelines.run_summary import RunSummary
from aurora.test_utils.musgraves.helpers import get_musgraves_availability_df

In [7]:
def enrich_row_with_run_info(row):
    mth5_run_summary = RunSummary()
    mth5_run_summary.from_mth5s([row.path, ])
    row.num_runs = len(mth5_run_summary.df)
    run_names = mth5_run_summary.df.run_id.unique().tolist()
    row.run_names = ",".join(run_names)
    return row

def count_mth5_runs(df):
    """

    Parameters
    ----------
    df : pd.DataFrame
        This is a list of the files

    Returns
    -------
    df:  pd.DataFrame
        SAme as input but with new columns

    """
    df["num_runs"] = 0
    df["run_names"] = ""
    m = MTH5()
    enriched_df = df.apply(enrich_row_with_run_info, axis=1)
    # for i, row in df.iterrows():
    #     #enrich_row_with_run_info(row)
    #     mth5_run_summary = RunSummary()
    #     mth5_run_summary.from_mth5s([row.path,])
    #     row.num_runs = len(mth5_run_summary.df)
    #     run_names = mth5_run_summary.df.run_id.unique().tolist()
    #     row.run_names = ",".join(run_names)

    return enriched_df

In [8]:
def count_mth5_runs(df):
    """

    Parameters
    ----------
    df : pd.DataFrame
        This is a list of the files

    Returns
    -------
    df:  pd.DataFrame
        SAme as input but with new columns

    """
    df["num_runs"] = 0
    df["run_names"] = ""
    enriched_df = df.apply(enrich_row_with_run_info, axis=1)

    return enriched_df

In [9]:
availability_df = get_musgraves_availability_df()

hostname: namazu
Found 2 h5 files

In [10]:
enriched_df = count_mth5_runs(availability_df)

2023-10-21T15:04:17.680167-0700 | INFO | mth5.mth5 | close_mth5 | Flushing and closing /home/kkappler/data/gadi/g/data/my80/AuScope_MT_collection/AuScope_AusLAMP/Musgraves_APY/NT/level_1/Concatenated_Resampled_Rotated_Time_Series_MTH5/WANT38.h5
2023-10-21T15:04:17.695565-0700 | INFO | mth5.mth5 | close_mth5 | Flushing and closing /home/kkappler/data/gadi/g/data/my80/AuScope_MT_collection/AuScope_AusLAMP/Musgraves_APY/NT/level_1/Concatenated_Resampled_Rotated_Time_Series_MTH5/SA349.h5

In [11]:
enriched_df

,level,territory,station_id,path,num_runs,run_names
0,1,NT,WANT38,/home/kkappler/data/gadi/g/data/my80/AuScope_M...,1,1
1,1,NT,SA349,/home/kkappler/data/gadi/g/data/my80/AuScope_M...,1,1